@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-width: fit-content;
  text-align: center;
  background-image:url(https://i.pinimg.com/564x/5d/b1/7a/5db17ab1f8e0bad184cf9a879b46aaa3.jpg);
  backdrop-filter: blur(.8em) grayscale(30%);
  background-repeat: repeat;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2.5em 0;
}
h1{
    font-size: 3em;
}
h2 {
  padding-bottom: 1em;
}

button {
  background-color:crimson;
  border-color: crimson;
  border-radius: 1em;
  border-style: none;
  cursor: pointer;
  outline: none;
  padding: 0.5em;
  font-family: "Poppins";
}

.btn {
  font-size: 1em;
  font-weight: bold;
  color: lightgoldenrodyellow;
}

.meal{
    margin: 3em 3em;
}

img {
    max-width: 100%;
}

p{
    font-size: 1em;
    margin: .8em;
}
ul{
    list-style: none;
}

li {
    text-decoration: none;
}
.recipe-title{
    font-weight: bold;
    font-size: 2em;
    color:darkred;
}
.recipeInstructions{
    font-weight:300;
    font-size: 1.2em;
}
.ingredients{
    font-weight:400;
    font-size: 1.1em;
    color:rgb(128, 0, 0);
}
.style-p{
    font-weight: bold;
    font-size: 1em;
    color: #3f3f3f;

}

.video-recipe{
    padding: 2em 1em 2em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    
}

.video-frame{
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
	padding-top: 3em;

}

.video-frame iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 2em;
}